<!DOCTYPE html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Chool Check</title>
      <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script type="text/javascript">
    jQuery(document).ready(function($){
      $('#Parallax').mousemove(
        function(e){
          /* Work out mouse position */
          var offset = $(this).offset();
          var xPos = e.pageX - offset.left;
          var yPos = e.pageY - offset.top;

          /* Get percentage positions */
          var mouseXPercent = Math.round(xPos / $(this).width() * 100);
          var mouseYPercent = Math.round(yPos / $(this).height() * 100);

          /* Position Each Layer */
          $(this).children('img').each(
            function(){
              var diffX = $('#Parallax').width() - $(this).width();
              var diffY = $('#Parallax').height() - $(this).height();

              var myX = diffX * (mouseXPercent / 100); //) / 100) / 2;


              var myY = diffY * (mouseYPercent / 100);


              var cssObj = {
                'left': myX + 'px',
                'top': myY + 'px'
              }
              //$(this).css(cssObj);
              $(this).animate({left: myX, top: myY},{duration: 50, queue: false, easing: 'linear'});

            }
          );

        }
      );
    });
    </script>
    <style type="text/css">

    body {
    background-color: #fff;
    }

    .Clear {
      clear: both;
      height: 0;
      overflow: hidden;
    }

    .Return {
      font-size: 1.2em;
      margin-top: 2em;
      text-align: center;
    }

    #Dev {
      position: absolute;
    }


    #Parallax {
      height: 500px;
      margin: auto;
      margin-top: 2em;
      overflow: hidden;
      position: relative;
    
    }

    #Parallax img {
      position: absolute;
      top: 0;
      left: 0;
    }

    .about {
      
      margin-top: 2em;
    }

    .A {
      margin: auto;
    }

    .container {
      width: 100%;
      height: 100%;
      margin: 40px auto;
      background: red;
    }

    </style>
  </head>





<html>
<body>
<div class="container">
  <div id="Parallax">
    <img src="<%= image_path('bg.jpg') %>">
    <img src="<%= image_path('main_01.png') %>">
  </div>


      <div class="A">
        <!-- Button trigger modal -->
        <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#formModal">
            로그인
        </button>
      </div>
  <div class="about">
    <img src="<%= image_path('about.jpg') %>">
  </div>
  </div>

</body>







<!-- 메인 로그인 -->
<div class="login">
  <div class="col-md-6 col-md-offset-3">
    <div id="login-wrapper">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">
            로그인하기
          </h3>
        </div>
        <div class="panel-body">
          <p>당신의 이메일 주소로 로그인해주세요.</p>
            <%=form_tag('/users/sign_in', method: :post, class: "form-horizontal")%>
            <div class="form-group">
              <div class="col-md-12">
                <input type="email" class="form-control" name="user[email]" id="email" placeholder="Email">
                <i class="fa fa-user"></i>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-12">
                <input type="password" class="form-control" name="user[password]" id="password" placeholder="Password">
                <i class="fa fa-lock"></i>
                <a href="/users/password/new" class="help-block">패스워드를 잊어버렸나요?</a>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-12">
                <button type="submit" class="btn btn-primary btn-block">로그인</button>
                <hr />
                <a href="/users/sign_up" class="btn btn-default btn-block">아직 가입하지 않으셨나요? [ 클릭 ]</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</html>
