
<section id="main-content" class="animated fadeInUp">
  <ul>
    <li><a href="/dashboard/notice">[공통] 메인index</a></li>
    <li><a href="/create">[공통] 새 클래스 만들기</a></li>
    <li><a href="/dashboard/pin">[chooler용] 핀꼽기</a></li>
    <li><a href="/dashboard/daily">[checker용] 내가 만든 방 디테일</a></li>
    <li>
      <ol>
        <p>[checker용] 학생리스트</p>
      <% @classes.each do |c| %>
        <li><a href="/classbook/<%=c.id%>"><%=c.title%></a></li>
      <% end %>
      </ol>
    </li>
    <li><a href="/dashboard">sample!!</a></li>
  </ul>
</section>

<div class="login">
  <div class="col-md-6 col-md-offset-3">
      <div id="login-wrapper">
          <div class="panel panel-primary">
              <div class="panel-heading">
                  <h3 class="panel-title">     
                 로그인하
              </h3>
              </div>
              <div class="panel-body">
                  <p>당신의 이메일 주소로 로그인해주세요.</p>
                  <form class="form-horizontal" role="form">
                      <div class="form-group">
                          <div class="col-md-12">
                              <input type="email" class="form-control" id="email" placeholder="Email">
                              <i class="fa fa-user"></i>
                          </div>
                      </div>
                      <div class="form-group">
                          <div class="col-md-12">
                              <input type="password" class="form-control" id="password" placeholder="Password">
                              <i class="fa fa-lock"></i>
                              <a href="javascript:void(0)" class="help-block">패스워드를 잊어버렸나요?</a>
                          </div>
                      </div>
                      <div class="form-group">
                          <div class="col-md-12">
                              <a href="/" class="btn btn-primary btn-block">로그인</a>
                              <hr />
                              <a href="signup" class="btn btn-default btn-block">아직 가입하지 않으셨나요? [ 클릭 ]</a>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>
