<h1>사진을 올리세요</h1>
<%=form_tag("/picture/create", method: :post, multipart: true) %>
<input type="text" name="klass_id" placeholder="class_id" value="<%=@klass_id%>"><br>
<input type="file" name="file"><br>
<input type="submit">
</form>
